.index_as_grid
  .instagram_media
    position: relative
    .resource_selection_cell
      input[type='checkbox']
        position: absolute
        top: 0
        right: 0
        padding: 0
    .item
      position: relative
      .image
        width: 100%
        img
          width: 100%
      
.dropdown_menu_list_wrapper
  z-index: 99999
  
